/* Mobile landscape and portrait displays less than 568px width*/

.container-history {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container-history>div {
  background-color: white;
  margin: 10px 10px 0px 10px;
  width: 100%;
}

.history_photos {
  position: relative;
  order: 1;
  background-size: contain;
}

img {
  display: block;
  width: 100%;
}

.text_above_image {
  position: absolute;
  margin: auto;
  color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
}

.position1 {
  bottom: -5px;
  left: 0px;
  padding: 0;
}

.position2 {
  top: -1%;
  right: 0%;
  padding: 0;
}

.position3 {
  top: 50%;
  left: 15%;
}

.position4 {
  top: 20%;
  left: 40%;
}

.text_container {
  cursor: default;
  order: 2;
  width: 100vw;
  padding: 0px 0px 20px 0px;
  color: black;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 4vw;
}


/* Mobile, landscape */
@media only screen and (min-width: 568px) {}

/* Tablet, portrait */
@media only screen and (min-width: 768px) {}

/* Tablet, landscape */
@media only screen and (min-width: 1024px) {}

/* Laptop displays */
@media only screen and (min-width: 1366px) {}

/* Desktop displays */
@media only screen and (min-width: 1920px) {}