@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Mobile landscape and portrait displays less than 568px width*/

/* 80s μοτιβο για το φοντο ολης της σελίδας */
.pattern1 {
  background-color: none;
  background-image: url(../images/pattern1.jpg);
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
}

/* το container που περιλαμβάνει την εικόνα τον τίτλο και την περιγραφή της υπηρεσίας */
.container-div {
  position: relative;
  margin: 3vw;
  text-align: center;
  background-repeat: repeat;
  cursor: pointer;
}

/* το container που περιεχει την εικονα της υπηρεσίας */
.container-image-serv {
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
}

/* η κλάση της εικόνας που περιέχεται στο container-image-serv */
.image-serv {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

/* το effect που ενεργοποιείται μόλις γίνει hover στο container-image-serv και περιγράφει τι θα συμβεί στην εικόνα*/
.container-image-serv:hover img {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.container-image-serv:active img {
  cursor: pointer;
  filter: saturate(10);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-filter: saturate(10);
}

/* το container που περιλαμβάνει τον τιτλο της υπηρεσίας και περιλαμβανειται και αυτο στο container-div */
.services-title-container {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

/* για να μην υπάρχει κάποια υπογράμμιση στον τίτλο της υπηρεσίας */
a.services-title-container {
  text-decoration: none;
}

/* η κλάση του τίτλου της υπηρεσίας που περιέχεται στο services-title-container */
.services-title {
  cursor: pointer;
  font-family: "Righteous", cursive;
  font-size: 5vw;
  color: #70cdc3;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(112, 205, 195, 0) 50%,
    rgba(112, 205, 195, 1) 50%,
    rgba(112, 205, 195, 1) 60%,
    rgba(112, 205, 195, 0) 60%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 250ms linear;
}

/* hover effect τιτλου μια οριζόντια γραμμή αλλάζοντας το background-size */
span.services-title:hover {
  background-size: 100% 100%;
}

/* container του κειμένου που περιγράφει την υπηρεσία */
.services-description-container {
  cursor: pointer;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  width: 100%;
  padding: 5px 10px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
}

/* κλάση του κειμένου που περιγράφει την πυηρεσία */
.services-description {
  cursor: pointer;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 4vw;
  line-height: 1.3;
  color: #70cdc3;
  text-align: center;
}

/* αφαιρεση του padding-bottom που έπαιρνε το p μέσα στο span */
span.services-description p {
  padding: 0;
  margin: 0;
  padding-bottom: 0;
}

div.container-div:hover div.services-description-container {
  visibility: visible;
}

/* κατά το hover του container-image-serv το services-description-container γίνεται ορατό */
/* div.container-image-serv:hover div.services-description-container {
    visibility: visible;
  } */

/* το ίδιο συμβαίνει και κατά το hover του services-description-container*/
/* a.services-title-container:hover + div.services-description-container {
    visibility: visible;
  } */

/* όταν γίνεται hover πάνω από το services-description-container τότε το div από αόρατο γίνεται ορατό κατά 0.5 */
div.services-description-container:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 568px) {
}

/* Tablet, portrait displays */
@media only screen and (min-width: 768px) {
}

/* Tablet, landscape displays */
@media only screen and (min-width: 1024px) {
}

/* laptop displays */
@media only screen and (min-width: 1366px) {
}

/* Desktop and Retina displays */
@media only screen and (min-width: 1920px) {
}
