/* Mobile landscape and portrait displays less than 568px width*/

.App-Products {
  width: 93%;
  margin: 0 3vw;
}

p.hover-target{
  padding:0;
  margin:0;
}

.introduction_container {
  display: flex;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 4px;  
  margin: 20px 0 50px 0;
}

.eco_image {
  max-width: 360px;
  margin: auto;
}

.products_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 2px;
  word-spacing: 4px;  
  margin: 50px 0 20px 0;
}

.products_container>div {
  margin-bottom:10px;
}

.products_container>div p:nth-of-type(1):first-letter {
  font-size: 200%;
  color: #2f5538;
}

.products_container>div p:nth-of-type(1):hover{
  text-shadow: 2px 2px 4px #2e5538;
  font-weight:bold;
  cursor:pointer;
  padding-bottom:0;
}

.hide {
  display: none;
}

.hover-target:hover + .hide {
  display: block;
}

.hide:hover {
  display: block;
  cursor:pointer;
}

/* Mobile, landscape */
@media only screen and (min-width: 481px) {
}

/* Tablet, portrait */
@media only screen and (min-width: 769px) {

  .introduction_container{
    text-align: center;
  }

  .products_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;  
    margin: 50px 0 20px 0;
  }

  .products_container > div{
    width: 20%;
  }

  .greenLine {
    border-style: solid;
    border-color: rgba(46,85,56,0);
    border-width: 2px;
  }

  .greenLine:hover {
    border-color: rgba(46,85,56,1);
  }

  .greenLine:hover div>p:nth-of-type(1){
    text-shadow: 2px 2px 4px #2e5538;
    font-weight:bold;
    cursor:pointer;
    padding-bottom:0;
  }

  .greenLine:hover p.hide {
    display: block;
  }
}

/* Tablet, landscape */
@media only screen and (min-width: 1025px) {}

/* Laptop displays */
@media only screen and (min-width: 1200px) {
  .introduction_container{
    justify-content: center;
  }

  .flex-page{
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
  }

  div.greenLine>p:nth-of-type(1){
    text-shadow: 2px 2px 4px #2e5538;
    font-weight:bold;
    cursor:pointer;
    padding-bottom:0;
  }

  p.hide {
    padding-top:10px;
    display:block;
  }
  

}
