/* Mobile landscape and portrait displays less than 568px width*/

.flex-products {
  position: relative;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-size: contain;
}

.photo-position {
  width: 100%;
}

/* Mobile, landscape */
@media only screen and (min-width: 568px) {
}

/* Tablet, portrait */
@media only screen and (min-width: 768px) {
}

/* Tablet, landscape */
@media only screen and (min-width: 1024px) {
}

/* Laptop displays */
@media only screen and (min-width: 1366px) {
}

/* Desktop displays */
@media only screen and (min-width: 1920px) {
}
