.btnContainer {
   position: fixed;
   bottom: 3vw;
   right: 3%;
   height: autox;
   z-index: 1;
   cursor: pointer;
   border-style: none;
   width: 50px;
   padding: 2px 2px 2px 2px;
   border-style: groove;

}

.btnImage {
   background-size: contain;
}

@media only screen and (min-width: 1200px) {
   .btnContainer {
      right: 3.5%;
   }
}